{% extends 'base.html' %}
{% block content %}
    <body>
    <header class="header--form-page">
    <section class="login-page">
      <h2>Zaloguj się</h2>
      <form action="" method="post">
          {% csrf_token %}
        <div class="form-group">
            {{ form.login}}
            <br>
            <br>
            <br>
            <br>
            {{ form.password }}
          <a href="{% url 'search_user' %}" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'registration'%}" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
      </form>
    </section>
    </header>
  </body>
{% endblock %}
