{% extends 'base.html' %}
{%  block content %}
<body>
    <section class="login-page">
      <h2>Załóż konto</h2>
      <form action="" method="post">
          {% csrf_token %}
        <div class="form-group">
        <br>
        <br>
        {{ form.first_name }}
        <br>
        <br>
        <br>
        <br>
        {{ form.last_name }}
        <br>
        <br>
        <br>
        <br>
        {{ form.username }}
        <br>
        <br>
        <br>
        <br>
        {{ form.password }}
        {{ form.errors }}
        <br>
        <br>
        <br>
        <br>
        {{ form.password_confirmation }}
        <br>
        <br>
        <br>
        <br>


        <div class="form-group form-group--buttons">
          <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
        </div>
      </form>
    </section>
  </body>
{% endblock %}
