{% extends 'base.html'%}
{% block content %}
    <body>
    <form action="" method="post">
        <div class=>
        {% csrf_token %}
        <label>Email:
        {{ form.username }}</label>
        <label>Imię:
        {{ form.first_name }}</label>
        <label>Nazwiśko:
        {{ form.last_name }}</label>
        </div>
        <button type="submit">Edytuj dane</button>
        <div>
        <label>Hasło:
        {{ form.password }}</label>
        <label>Powtórż hasło:
        {{ form.password_confirmation }}</label>
         <button type="submit">Zmień hasło</button>
                   {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% if field.errors %}
                        <li>{{ field.errors|join:", " }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        </div>
        <div><label>Podaj obecne hasło
            {{ form.current_password }}
        </label>
        </div>
    </form>
    </body>
{% endblock %}